@font-face {
    font-family: 'Circular Std';
    src: url('./CircularStd-Medium.woff2') format('woff2'),
        url('./CircularStd-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}