

/* ====================================rtl=========================== */

.direction-rtl  ul>li .sub-menu>li a {
    display: block;
    padding: 0px 30px;
    position: relative;
    color: #505056;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
    border-radius: 4px;
    margin: 0 0;
    line-height: 2.5;
    text-align: right;
  }
  
  .direction-rtl  ul>li .sub-menu>li:hover>a {
    color: #2b70fa;
  }
  
  .direction-rtl  ul>li .sub-menu>li a:hover {
    padding-left: auto;
    padding-right: 35px;
  }
  
  .direction-rtl  ul>li .sub-menu>li .sub-menu {
    right: 100%;
    left: auto;
  }
  
  .direction-rtl  ul>li .sub-menu {
    left: auto;
    right: 0;
  }
  
  .direction-rtl .nav-outer .menu-btn {
    margin-left: auto;
    margin-right: auto;
  }
  
  .direction-rtl  ul>li>a i {
    padding-left: auto;
    padding-right: 6px;
  }
  
  .direction-rtl .social-style-one a {
    margin-right: 0px;
    margin-left: 15px;
  }
  
  .direction-rtl .list-style-one li:before {
    margin-right: 0;
    margin-left: 15px;
  }
  
  .direction-rtl .about-image-shape::before {
    left: auto;
    right: -9px;
  }
  
  .direction-rtl .about-image-shape:after {
    left: auto;
    right: 13px;
  }
  
  .direction-rtl .list-style-two i {
    margin: 6px 0 0 20px;
  }
  
  .direction-rtl .copyright-inner .social-style-one a {
    margin-right: 0;
    margin-left: 33px;
  }
  
  .direction-rtl .about-wrap::before {
    right: auto;
    left: 0;
  }
  
  .direction-rtl .list-style-three li:before {
    margin-right: 0;
    margin-left: 20px;
  }
  
  .direction-rtl .about-two-image::before,
  .about-three-image::before {
    left: auto;
    right: -35px;
  }
  
  .direction-rtl .learn-more i {
    margin: 2px 8px 0 0;
  }
  
  .direction-rtl .learn-more:hover i {
    margin-left: 0px;
    margin-right: 10px;
  }
  
  .direction-rtl .progress-item-two {
    border-right: none;
    border-left: 1px solid rgb(230, 232, 235);
  }
  
  .direction-rtl .mr-25 {
    margin-right: 0;
    margin-left: 25px;
  }
  
  .direction-rtl .about-three-image img:last-child {
    margin: -33% 33% 0 0;
  }
  
  .direction-rtl .main-menu .navbar-collapse li {
    float: right;
  }
  
  .direction-rtl .main-menu .navbar-collapse li ul li ul {
    left: auto;
    right: 100%;
  }
  
  .direction-rtl .mr-15,
  .mx-15 {
    margin-right: 0px;
    margin-left: 15px;
  }
  
  .direction-rtl .about-tab li a {
    padding: 0 0 25px 20px;
  }
  
  .direction-rtl .about-tab li a i {
    margin-right: 0px;
    margin-left: 20px;
  }
  
  .direction-rtl .about-tab li a:before {
    left: auto;
    right: 0;
  }
  
  .direction-rtl .social-style-two a {
    margin-right: 0;
    margin-left: 7px;
  }
  
  .direction-rtl .about-fiver-image .about-bg-circle {
    left: auto;
    right: 0;
  }
  
  .direction-rtl .pl-70,
  .direction-rtl .px-70 {
    padding-left: 0px;
    padding-right: 70px;
  }
  
  .direction-rtl .about-shape-six .about-graph {
    left: auto;
    right: -8%;
  }
  
  .direction-rtl .rtl-margin i,
  .direction-rtl .rtl-margin {
    margin-right: 5px;
  }
  
  
  .direction-rtl .theme-btn:hover i,
  .direction-rtl a.theme-btn:hover i {
    margin-left: -5px;
    margin-right: 15px;
  }
  
  
  .direction-rtl .product-item .image .sale {
    left: auto;
    right: 5px;
  }
  
  .direction-rtl .pagination li {
    margin: 0 0 10px 10px;
  }

  .direction-rtl .descriptions .add-to-cart input {
    margin-right: 0;
    margin-left: 10px;
  }
  
  .direction-rtl blockquote {
    border-left: none;
    padding-left: 0px;
    padding-right: 30px;
    border-right: 5px solid rgb(16, 76, 186);
  }
  
  .direction-rtl .blog-header .social-style-one span,
  .blog-header .social-style-two span,
  .blog-footer .social-style-one span,
  .blog-footer .social-style-two span {
    margin-right: 0;
    margin-left: 15px;
  }
  
  .direction-rtl .app-header .logo-outer {
    border-right: none;
    border-left: 1px solid #4e597b;
  }
  
  .direction-rtl .direction-rtl .nav-outer .menu-btn {
    margin-left: 0;
    margin-right: auto;
  }
  .direction-rtl .direction-rtl .app-header .header-inner {
    padding-left: 70px;
    padding-right: 5px;
  }
  
  .direction-rtl .main-menu .navbar-header .navbar-toggle {
    float: left;
  }
  
  .direction-rtl .main-menu .navbar-collapse li.dropdown .dropdown-btn {
    right: auto;
    left: 0;
  }
  
  .direction-rtl .read-more i {
    float: left;
    margin-left: 0;
    margin-right: 5px;
  }
  
  .direction-rtl .read-more:hover i {
    margin-left: 0;
    margin-right: 8px;
  }
  
  .direction-rtl .theme-btn.style-eight i,
  .theme-btn.style-eight i,
  a.theme-btn.style-eight i,
  a.theme-btn.style-eight i {
    float: left;
  }
  
  .direction-rtl .faq-accordion .toggle-btn {
    margin-left: 0;
    margin-right: 8px;
  }
  
  .direction-rtl .blog-style-four .blog-four-content .date i {
    margin-right: 0;
    margin-left: 8px;
  }
  
  .direction-rtl .footer-six .footer-widget .social-style-two a {
    margin: 0px 0px 10px 10px;
  }
  .direction-rtl .seller-item .image .check {
    right: auto;
    left: 15%;
  }
  
  .direction-rtl .seller-item .number {
    right: auto;
    left: 20px;
  }

  [dir="rtl"] .slick-slide {
    float: left;
  }
  
  .direction-rtl .about-eight-images img:first-child {
    margin-right: 0px;
    margin-left: 25px;
  }
  
  .direction-rtl .about-eight-images .left-content {
    right: auto;
    left: 40px;
  }
  
  .direction-rtl .protect-item .icon {
    margin-right: 0px;
    margin-left: 30px;
  }
  
  .direction-rtl .seller-item .image .check {
    right: auto;
    left: 15%;
  }
  
  .direction-rtl .seller-item .number {
    right: auto;
    left: 20px;
  }

  .direction-rtl .wish {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .direction-rtl .sign-in-form button {
    margin-left: 5px;
  }
  
  .direction-rtl .nav-search form button {
    border-right: 1px solid #cfdbf1;
    border-left: none;
  }
  
  
  .direction-rtl .theme-btn.prev-icon i.rtl-margin-2 {
    margin-left: 10px;
    margin-right: 0;
  }
  
.direction-rtl .news .author-description img {
  margin-right: 0;
  margin-left: 0;
}

.direction-rtl .news:before {
  right: auto;
  left: 22%;
}